In [4]:
import pandas as pd

In [5]:
pd.__version__

'2.3.0'

In [6]:
dict_medidas = {"idade": [18, 25, 30, 45, 60],
                "altura": [1.70, 1.75, 1.80, 1.65, 1.90],
                "peso": [70, 80, 90, 60, 100],
                "sexo": ["M", "F", "M", "F", "M"]}

In [7]:
df = pd.DataFrame.from_dict(dict_medidas)

In [9]:
df

   idade  altura  peso sexo
0     18    1.70    70    M
1     25    1.75    80    F
2     30    1.80    90    M
3     45    1.65    60    F
4     60    1.90   100    M

In [9]:
# Calculando a média da coluna "idade"
df["idade"].mean()

np.float64(35.6)

In [10]:
# Calculando a mediana da coluna "idade"
df["idade"].median()

np.float64(30.0)

In [12]:
# Calculando a moda da coluna "idade"
df["idade"].mode()

0    18
1    25
2    30
3    45
4    60
Name: idade, dtype: int64

In [13]:
# Calculando a variância da coluna "idade"
df["idade"].var()

np.float64(284.29999999999995)

In [ ]:
# Calculando o desvio padrão da coluna "idade"
df["idade"].std()

In [14]:
# Calculando o coeficiente de variação da coluna "idade"
df["idade"].std() / df["idade"].mean() * 100

np.float64(47.36291589733142)

In [16]:
# Calculando assimetria da coluna "idade"
# Quando o valor é positivo, a distribuição é assimétrica à direita, ou seja, os valores estão mais concentrados à esquerda, tem mais valores menores que a média
# Quando o valor é negativo, a distribuição é assimétrica à esquerda, ou seja, os valores estão mais concentrados à direita, tem mais valores maiores que a média
df["idade"].skew()

np.float64(0.7422128138400799)

In [17]:
# Calculando a curtose da coluna "idade"
# Quando o valor é positivo, a distribuição é leptocúrtica, ou seja, os valores estão mais concentrados em torno da média, tem mais valores próximos da média
# Quando o valor é negativo, a distribuição é platicúrtica, ou seja, os valores estão mais dispersos, tem menos valores próximos da média
df["idade"].kurtosis()

np.float64(-0.7031890163732202)

In [ ]:
# Descrição estatística da coluna "idade"
df.idade.describe()